.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-button {
  margin-bottom: 20px;
}

.add-food-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-food-form div {
  margin-bottom: 10px;
}

.dish-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: 300px;
  position: relative;
}

.dish-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.update-button,
.delete-button {
  padding: 5px 10px;
  margin: 0;
  border: none;
  cursor: pointer;
}

.update-button {
  background-color: #4CAF50;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.images {
  width: 100%;
  height: auto;
}
